<!-- Toolbar -->
<div class="toolbar bg-dark " role="banner">
    <ul class="nav nav-tabs container">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Personal Accounting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Crear Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="create">Crear Cuenta</a>
        </li>
      </ul>
  </div>