<!-- Toolbar -->
<div class="toolbar bg-dark " role="banner">
    <ul class="nav nav-tabs container">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Personal Accounting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="accounts">Ver mis cuentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="transactions">Ver mis transacciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="accounts/create">Crear una cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="transactions/create">Realizar un movimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="signup">Registrarse</a>
        </li>
      </ul>
  </div>